# standard
.vs/photolog/v15/Server/sqlite3/storage.ide
.vs/photolog/v15/Server/sqlite3/storage.ide-shm
.vs/photolog/v15/Server/sqlite3/storage.ide-wal
.vs/photolog/v15/.suo

/photolog/bin
/photolog/obj
